# Your AWS region and account number can be found in the top right corner
# of the AWS console.

# AWS_REGION should be in the format us-east-1
AWS_REGION=<your aws region>

# AWS_ACCOUNT should be in the format 123456789012.
# Your AWS account is displayed in the AWS console as a number in the format 1234-5678-9012
# but here it should not have any hyphen characters -> 123456789012
AWS_ACCOUNT=<your aws account>

# HORTA_ORG should be a short string to uniquely represent your organisation.
# For example at Janelia Research Campus we use 'janelia'.
HORTA_ORG=<app qualifier name>

# HORTA_STAGE is used to allow multiple copies of the application to run in
# the same region and account. This is useful for testing a new deployment
# or code update. Eg: change this to dev to get a development version and
# run the deployment again.
HORTA_STAGE=prod

# ADMIN_USER_EMAIL should be a valid email address that you have access to.
# This will be used as the initial administrator login and will receive the
# temporary password.
ADMIN_USER_EMAIL=<admin email>

# Additional readable Cognito pool
READABLE_POOL_IDS=

# See the installation instructions in the README for details on changing the
# Instance types used for hosting the application.
HORTA_SERVER_INSTANCE_TYPE=r5n.2xlarge
HORTA_WS_INSTANCE_TYPE=stream.graphics-pro.4xlarge
HORTA_WS_IMAGE_NAME=AppStream-Graphics-Pro-WinServer2019-09-01-2022

# This is a comma separated list of the s3 bucket names that host your imagery.
HORTA_DATA_BUCKETS="janelia-mouselight-imagery"
# This is a writeable bucket on which to persist the backups
HORTA_BACKUP_BUCKET=
# Base backup prefix - if none is specified and the backup bucket is set
# it defaults to /hortacloud/backups
HORTA_BACKUP_FOLDER="/hortacloud/backups"
# Bucket from which to restore the database
HORTA_RESTORE_BUCKET=
HORTA_RESTORE_FOLDER="/hortacloud/backups/latest"
# System logs backup
HORTA_SYSTEMLOGS_FOLDER="hortacloud/systemlogs"

# 32 byte secrets are generated during setup. If you are unhappy with the
# way these are generated, you can generate your own with openssl.
# eg: openssl rand -hex 32
JACS_JWT_KEY=<32 byte secret>
JACS_MONGO_KEY=<32 byte secret>
JACS_APP_PASSWD=<32 byte secret> # app password
RABBITMQ_PASSWD=<32 byte secret> # rabbitmq password
JACS_API_KEY=<32 byte secret> # jacs api key
JADE_API_KEY=<32 byte secret> # jade api key

HORTA_SERVER_SYSTEM_VOLSIZE_GB=8
HORTA_SERVER_DATA_VOLSIZE_GB=30

HORTA_APPSTREAM_FLEET_INSTANCES=5
HORTA_SESSION_DISCONNECT_IN_SECS=600
HORTA_SESSION_DURATION_IN_MINS=960

# Flag used to specify not to create an admin user
# this is used when users are imported from an existing backup
HORTA_NO_ADMIN_USER_FLAG=true
