AWS_REGION=<your aws region>
AWS_ACCOUNT=<your aws account>

HORTA_ORG=<app qualifier name>
HORTA_STAGE=<deployment stage
ADMIN_USER_EMAIL=<admin email

HORTA_SERVER_INSTANCE_TYPE=r5n.2xlarge
HORTA_WS_INSTANCE_TYPE=stream.graphics-pro.4xlarge
HORTA_WS_IMAGE_NAME=AppStream-Graphics-Pro-WinServer2019-10-08-2021

HORTA_DATA_BUCKETS="janelia-mouselight-imagery"

JACS_JWT_KEY=<jwt secret>
JACS_MONGO_KEY=<mongo secret>
JACS_APP_PASSWD=<app password>
RABBITMQ_PASSWD=<rabbitmq password>
JACS_API_KEY=<jacs api key>
JADE_API_KEY=<jade api key>

HORTA_APPSTREAM_FLEET_INSTANCES=5
HORTA_SESSION_DURATION_IN_MINS=960
